<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Crochaid{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        <nav class="navbar">
            <!-- <img src="{{ url_for('static', filename='img/logo.png')}}" alt="Crochaid" class="logo"> -->
            <span class="brand-name">Crochaid</span>
        </nav>

        <main>
            {% block content %}{% endblock %}
        </main>

        {% block scripts %}{% endblock %}
    </body>
</html>